body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h1 {
  font-size: 50px;
  color: rgb(56, 55, 55);
  font-weight: bolder;
  margin: auto;
}
h2 {
  font-size: 40px;
  color: rgb(56, 55, 55);
}

h3 {
  color: rgb(39, 39, 41);
}
p {
  color: rgb(122, 118, 118);
  font-size: medium;
  font-weight: bold;
  font-family: Poppins;
  margin-bottom: 60px;
}
p.about-contact {
  font-family: sans-serif;
  color: black;
  font-weight: 500;
}
p.about-recipe {
  font-family: Poppins;
  color: rgb(32, 32, 32);
  text-align: center;
}
.Orange-color {
  color: rgba(248, 104, 52, 0.973);
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.half-width img {
  width: 80%;
  padding-top: 1%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, red);
  padding: 15px 40px;
  color: white;
  font-weight: 500;
  border-radius: 40px;
}
.About {
  background-image: url(7.png);
  background-repeat: no-repeat;
  background-color: rgb(228, 204, 172);
}
.recipe-alignment {
  font-family: Poppins;
  text-align: center;
}
.recipe-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 15px;
  text-align: center;
}
#Chicken-recipes {
  display: flex;
  text-align: center;
}

.Black-color {
  text-align: center;
}
footer h2,
h3 {
  text-align: center;
  color: white;
  background-color: black;
}
