body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
  color: rgb(70, 46, 46);
}
h2 {
  font-size: 40px;
}

h3 {
  color: rgb(13, 13, 65);
}
p {
  color: black;
  font-family: sans-serif;
}

.Orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
  margin-top: 100px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 15px 40px;
  color: white;
  font-weight: 500;
  border-radius: 40px;
}
